<h2>Product categories</h2>

<div *ngFor="let category of products" class="category">

  <p (click)="categoryPressed(category.category_id)" class="category_name">{{category.category_name}}</p>

  <div *ngIf="category.display">
    <div *ngFor="let item of category.items" class="product">

      <!-- Product information -->
      <app-product-item
        [product]="item">
      </app-product-item>

      <!-- Button for telegram share link -->
      <button (click)="share(item.link, item.name)">
        Share 
      </button>

       <!-- Button to like the product-->
      <button (click)="likeItem(category.category_id, item.id)" class = 'like-button'>
        Like 
      </button>

       <!-- Button for removing product -->
      <button (click)="removeItem(category.category_id, item.id)" class = 'remove-button'>
        Remove 
      </button>

      <!-- Button "Notify me" -->
      <app-product-alerts
        [product]="item" 
        (notify)="onNotify()">
      </app-product-alerts>
      <hr>
    </div>
  </div>

</div>