<div *ngIf="loaded">
    <h2>Album Detail {{album.id}}</h2>
    <label>
      <input type="text" [(ngModel)]="album.title" class = "label-in-details">
    </label>
    <br>
    <div class="details-buttons">
      <button (click)="updateAlbum()" class = "buttons">Save</button>
      <button (click)="goBack()" class = "buttons">Back</button>
      <button (click)="showPhotos()" class = "buttons">Show Photos</button>
    </div>
    <div class="photo-link">
      <a [routerLink]="['photos']" class="buttons">Photos</a>
    </div>
  </div>
  <p *ngIf="!loaded">Loading album...</p>
  
  <ul *ngIf="photos.length">
    <li *ngFor="let photo of photos">
      {{photo.id}}) {{photo.title}}
      <img src="{{photo.url}}" alt="photo of album">
    </li>
  </ul>