<h1> About </h1>

<p>
  These albums based on laboratory work 6 in WEB Development.
  <br>
  An album is a collection of audio recordings issued as a collection on compact disc (CD), vinyl, audio tape, or another medium. Albums of recorded sound were developed in the early 20thh century as individual 78-rpm records collected in a bound book resembling a photograph album; this format evolved after 1948 into single vinyl LP records played at ​33 1⁄3 rpm.

  <br>

The album was the dominant form of recorded music expression and consumption from the mid-1960s to the early 21st century, a period known as the album era.[1] Vinyl LPs are still issued, though album sales in the 21st-century have mostly focused on CD and MP3 formats. The 8-track tape was the first tape format widely used alongside vinyl from 1965 until being phased out by 1983 and was gradually supplanted by the compact cassette during the 1970s and early 1980s; the popularity of the cassette reached its peak during the late 1980s, sharply declined during the 1990s and had largely disappeared during the first decade of the 2000s.
</p>