*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #E9EBEE;
}

.fb-logo{
    position: absolute;
    top:30%;
    left: 15%;
}
.fb-logo-img{
    height: 54;
}
.connect{
    font-size: 20px;
    font-weight: lighter;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: #1c1e21;
}

.fb-login{
    width: 350px;
    height: 320px;
    position: absolute;
    top:20%;
    left:57%;
    background-color: white;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 5px -9px;
}

.fb-login input{
    width: 75% ;
    margin-top: 18px;
    margin-left: 21px;
    padding: 10px 18px;

}
.login-button{
    text-align: center;
    background-color: #2C83F2;
    margin-top: 10px;
    margin-left: 24px;
    padding: 11px;
    border-radius: 7px;
    width: 79%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif
}
.login-button a{
    color: white;
    font-size: 20px;
    text-decoration: none;

}
.forget-password{
    text-align: center;
    margin-top: 12px;
}
.forget-password a{
    text-decoration: none;
    color: #2C83F2;
    font-size: 15px;
    font-weight: bold;
}
.fb-line{
    width: 80%;
    height: 1px;
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid #ccc;
}
.create-account-button{
    text-align: center;
    margin-top: 30px;
    background-color: #42b72a;
    width: 50%;
    margin-left: 77px;
    padding: 11px;
    border-radius: 7px;
    cursor: pointer;
}
.create-account-button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif
}

.celebrity-account{
    position: absolute;
    top:75%;
    left:58%;
    font-size: 13px;
}
.lang-list{
    padding-top: 8px;
    align-items: center;
    display: flex;
    font-size: 12px;
    margin-top: 8px;
    color: rgb(115, 115, 115);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    /* line-height: 16px; */
    
}
/* .languages{
    position:absolute;
    top: 90%;
    left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-right: 0px;
    text-decoration-style: solid;
    text-align: left;
    color: #8a8d91

} */