header{
    display: flex;
}
header ul{
    margin-top: 30px;
}

li{
    display: inline;
    margin-top: 5px;
    margin-right: 20px;
}
li a{
    text-decoration: none;
    font-style: “Segoe UI”, sans-serif;
    color: grey;
    font-size: 16px;
}

.right-side {
    left:80%;
    margin-top: 30px;
    display: inline;
}
.img-main{ 
    position: relative; 
    width: 100%; /* for IE 6 */
 }
 
 h1{ 
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%; 
    margin-left: 80px;
 }
 h2{
    position: absolute;
    top:260px;
    left: 0; 
    width: 100%; 
    margin-left: 80px;
    font-weight: 200;
    font-size: 15px;

 }

